<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Fragment</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
</head>
<body>
    <nav th:fragment="navbar" class="navbar">
        <div class="logo">
            <img th:src="@{/img/logo.png}" alt="Logo" style="height: 50px; vertical-align: middle; margin-right: 8px;">
        </div>
        <ul class="nav-links">
            <li><a href="#mainContent">Layanan</a></li>
            <li><a href="#features">Penawaran</a></li>
            <li><a href="#plans">Paket</a></li>
            <li><a href="#testimoni">Testimoni</a></li>
        </ul>
        <button class="profile-btn" onclick="window.location.href='/profil'">Profil</button>
    </nav>

    <nav th:fragment="navbarNoProfile" class="navbar">
        <div class="logo">
            <img th:src="@{/img/logo.png}" alt="Logo" style="height: 50px; vertical-align: middle; margin-right: 8px;">
        </div>
        <ul class="nav-links">
            <li><a href="#mainContent">Layanan</a></li>
            <li><a href="#features">Penawaran</a></li>
            <li><a href="#plans">Paket</a></li>
            <li><a href="#testimoni">Testimoni</a></li>
        </ul>
    </nav>

    <nav th:fragment="navbarProfile" class="navbar">
        <div class="logo">
            <img th:src="@{/img/logo.png}" alt="Logo" style="height: 50px; vertical-align: middle; margin-right: 8px;">
        </div>
        <ul class="nav-links">
            <li><a href="#mainContent">Layanan</a></li>
            <li><a href="#features">Penawaran</a></li>
            <li><a href="#plans">Paket</a></li>
            <li><a href="#testimoni">Testimoni</a></li>
        </ul>
        <button class="profile-btn" onclick="window.location.href='/dashboard'">Dashboard</button>
    </nav>

    <nav th:fragment="navbarProfileLogo" class="navbar">
        <div class="logo">
            <img th:src="@{/img/logo.png}" alt="Logo" style="height: 50px; vertical-align: middle; margin-right: 8px;">
        </div>
        <button class="profile-btn" onclick="window.location.href='/profil'">Profil</button>
    </nav>

    <nav th:fragment="navbarDashboadLogoUser" class="navbar">
        <div class="logo">
            <img th:src="@{/img/logo.png}" alt="Logo" style="height: 50px; vertical-align: middle; margin-right: 8px;">
        </div>
        <button class="profile-btn" onclick="window.location.href='/dashboard'">Dashboard</button>
    </nav>

    <nav th:fragment="navbarDashboadLogoAdmin" class="navbar">
        <div class="logo">
            <img th:src="@{/img/logo.png}" alt="Logo" style="height: 50px; vertical-align: middle; margin-right: 8px;">
        </div>
        <button class="profile-btn" onclick="window.location.href='/dashboardadmin'">Dashboard</button>
    </nav>

    

    <nav th:fragment="navbarLogoOnly" class="navbar">
        <div class="logo">
            <img th:src="@{/img/logo.png}" alt="Logo" style="height: 50px; vertical-align: middle; margin-right: 8px;">
        </div>
    </nav>
</body>
</html>